@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>资产名称：</td>
            <td></td>
        </tr>
        <tr>
            <td>资产编号：</td>
            <td></td>
        </tr>
         <tr>
            <td>资产状态：</td>
            <td></td>
        </tr>
        <tr>
            <td>使用部门：</td>
            <td></td>
        </tr>
        <tr>
            <td>使用人：</td>
            <td></td>
        </tr>
        <tr>
            <td>资产型号：</td>
            <td></td>
        </tr>
        <tr>
            <td>计量单位：</td>
            <td></td>
        </tr>
        <tr>
            <td>单价：</td>
            <td></td>

        </tr>
        <tr>
            <td>数量：</td>
            <td></td>
        </tr>
        <tr>
            <td>总价：</td>
            <td></td>
        </tr>
        <tr>
            <td>供应商：</td>
            <td></td>
        </tr>
    </table>

</body>
</html>
