@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript" src="../../Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //数据跳转用户不存在绑定
            if ("@ViewBag.jump" == 0 || "@ViewBag.jump" == "0") {
                document.getElementById("bindDIv").style.display = "block";
                document.getElementById("info").style.display = "none";
            } else {//存在绑定
                document.getElementById("bindDIv").style.display = "none";
                document.getElementById("info").style.display = "block";
            }
        });

        function bindUser(openid) {
            var openid = $("#openid").val();
            var username = $("#username").val();
            var password = $("#password").val();
            if (password == "" || username == "" || openid == undefined || openid == null || openid == "") {
                alert("未获取微信用户信息/用户信息不能为空！");
                return;
            }
            var data = {
                "username": username,
                "password": password,
                "openid": openid
            }

            $.ajax({
                url: "/WXSearch/userBinding_WX",
                type: 'POST',
                data: {
                    "data": JSON.stringify(data)
                },
                success: function (info) {
                    alert(info);
                }
            });
        }



    </script>

</head>
<body>
    <div id="bindDIv" style="display:none">
         <div style="margin-bottom: 20px">
            <div>openid:</div>
            <input type="text" id="openid" value="@ViewBag.openid">
        </div>
        <div style="margin-bottom: 20px">
            <div>用户名:</div>
            <input type="text" id="username">
        </div>
        <div style="margin-bottom: 20px" >
            <div>密码:</div>
            <input id="password" type="password">
        </div>
        <div>
            <input type="button" onclick="bindUser()" title="绑定" value="绑定" />
        </div>
        
    </div>
    <div  id="info" style="display:none">
        <p>用户已经绑定！</p>
    </div>
</body>
</html>
