@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript">
        //数据跳转
        if ("@ViewBag.jump" == 1 || "@ViewBag.jump" == "1") {
            window.location.href = "http://www.baidu.com";
        } else {
            window.location.href = "http://www.lanrentuku.com/";
        }
    </script>
</head>
<body>
    <div>
    code: @ViewBag.code
       <br />
    openid: @ViewBag.openid
    </div>
</body>
</html>
