
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../LIB/jquery-easyui-1.3.2/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="../../LIB/jquery-easyui-1.3.2/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="../../LIB/icons/icon.css" />
    <link rel="stylesheet" type="text/css" href="../../LIB/jquery-easyui-1.3.2/demo/demo.css" />
    <script type="text/javascript" src="../../LIB/jquery-easyui-1.3.2/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="../../LIB/jquery-easyui-1.3.2/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        var openid = "oJ8kuxP5ub_2KmkX7dpP61ia_Arg";
        var Asset_Serial = "ZC2016070000022";
        // var Asset_Amount = ViewBag.Asset_Amount";

        $(function () {

 

            d(openid);
            //addOneOption("woyaoces", 3);  //把select对象的第i个option清除掉


        })
        function d(openid) {

            $.ajax({

                type: "get",

                url: "http://10.10.65.6:8080/Depreciation/WX_LoadPD", // 这个就是不同于当前域的一个URL地址，这里单纯演示，所以同域

                dataType: "jsonp",

                jsonp: "jsonpcallback",  // 指定回调函数，这里名字可以为其他任意你喜欢的，比如callback，不过必须与下一行的GET参数一致

                data: "openid=" + openid + "&jsonpcallback=?", // jsonpcallback与上面的jsonp值一致

                success: function (result) {

                    alert("-----" + result);
                    var op = String(result).split('o');
                    for (var i = 0; i < op.length; i++) {
                        // alert(op[i]);
                        var value = op[i].split(',')[0];

                        var text = op[i].split(',')[1];

                        addOneOption(text, value);
                    }
                    //
                    //              alert(json.Name);
                    //
                    //              alert(json.Email);
                }
            });

        }
        function getpds() {
            var t = document.getElementById("test")
            alert(t.options[t.selectedIndex].value);
        }
        function addOneOption(text, value) {
            //document.getElementById("user_dm").options.add(new Option(2,"mytest"));

            var selectObj = document.getElementById("test");
            // alert(selectObj.length);
            selectObj.options[selectObj.length] = new Option(text, value);
        }

        /*function Confirm()
        {

           var pdserial = $('#ps').combobox('getValue');
            var obj = pdserial + "," + Asset_Serial + "," + Asset_Amount;

            $.ajax({

                type: "post",
                url: "/Depreciation/WX_Set_PD_Data",

                datatype: "json",//数据类型
                data: { Json: obj },
                success: function (result) {
                   // alert(result);
                    if (result == "deny")
                       alert("不可重复盘点该资产，或者当前扫描资产未录入系统，请核对!");
                    if (result == "success")
                        alert("成功！");


                }, error: function (msg) {
                    alert("Error");
                }
            });
        }*/
    </script>
    <style type="text/css">
        .font_Phone {
            font-size: 20px;
            line-height: 30px;
        }
    </style>
</head>

<body>
    <div>


        <table>
            <tr>
                <td>选择盘点单：</td>

                <td>
                    <select class="easyui-combobox" id="ps" name="ps" data-options="editable:false" style="width:150px;"></select>
                </td>
            </tr>
            <tr>
                <td>测试：</td>

                <td>
                    <select id="test" name="test" data-options="editable:false" style="width:150px;"></select>
                </td>
            </tr>
        </table>
        <div style="text-align: center; padding: 5px">
            <a href="#" class="easyui-linkbutton" data-options="menu:'#mm1',iconCls:'icon-search'" id="yh_yl" onclick="Confirm()">选择并盘点</a>


        </div>
    </div>


</body>
</html>
