

#sub_left_side {
    
    height:100%!important;
    background-color:#fcfdfd;
    border:2px solid #dcdcdc;
    float:left;
    min-height:500px;
}
#sub_right_side {
    height:100%!important;
    min-height:500px;
    min-width:400px;
    float:left;
    
    min-height:500px;
    background-color:#fcfdfd;
}

.borderDIV {
     border:1px solid #dcdcdc;
}

.lunquanBorder{margin:auto;overflow:hidden;
border:#dcdcdc 1px solid;background:#fff;color:#333;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#dcdcdc,direction=120,strength=4);/*兼容ie*/
-moz-box-shadow: 2px 2px 10px #dcdcdc;/*兼容firefox*/
-webkit-box-shadow: 2px 2px 10px #dcdcdc;/*兼容safari或chrome*/
box-shadow:2px 2px 10px #dcdcdc;/*兼容opera或ie9*/
}